*,
*::before,
*::after {
    box-sizing: border-box;
}  

html,
body,
.wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid purple;
}

body {
    font-family: san-serif:

}

button[disabled] {
    cursor: default;
    background: #c0c7cf;
  }

  @media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  
    #password {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
    }
  }
  