* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


.linear-gradient-background {
    background-image: linear-gradient(
     rgb(10, 10, 10),
     rgb(22, 100, 202));
  }


body {
    font-family: arial;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    
}


#wrapper {
    position: absolute;
    left: 23%;
    top: 15%;
    bottom: 10%;
    width: 600px;
    height: 500px;
    padding: 10px;
    box-shadow: 0 8px 8px 0 black;
   
}
      

.wrapper-color {
        background-color: white;
        height: 150px;
        max-width: 100%;
    }

#timeClock {
    float: right;
}

header h1 {
    text-align: center;
    font-size: 40px;
}

h2 { 
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
}


#quizQuestions {
    text-align: center;
}

button {
    background: rgb(22, 100, 202);
    box-shadow: 0 4px 4px 0 black;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 18px;
}


button:hover {   
    background-color: rgb(20, 19, 19);
    color: white;

}

.start-btn {
    margin-left: 10px;
}



.high-score-btn, .back-btn, .submit-btn {
    text-decoration-line: none;
    color: black;
}

input { 
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid black;
}



  @media (max-width: 690px) {
    .start-btn, .high-score-btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
}
  

  @media (max-width: 500px) {
    .start-btn, .high-score-btn {
      font-size: 0.8rem;
    }
  }
  